@import url("./tailwind.css");
@import url("../assets/icons/style.css");

@font-face {
  font-family: "Gilroy";
  src: url("@/assets/fonts/Gilroy-Medium.ttf");
}

html {
  font-family: "Gilroy", sans-serif;
  min-height: 100vh;
  font-size: 16px;
  background-color: #f5f5ff;
}
body {
  width: 100vw;
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth !important;
  color: #fff;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.container {
  inset: 0;
  margin: 0 auto;
  max-width: 1220px !important;
}

@media (max-width: 1210px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 1024px !important;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px !important;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 100% !important;
  }
}

.line-clamp-1 {
  word-break: break-word !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 1;
}
.line-clamp-2 {
  word-break: break-word !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2;
}
.line-clamp-3 {
  word-break: break-word !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 3;
}
.line-clamp-4 {
  word-break: break-word !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 4;
}
.line-clamp-5 {
  word-break: break-word !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 5;
}
.line-clamp-6 {
  word-break: break-word !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 6;
}
.line-clamp-7 {
  word-break: break-word !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 7;
}

.text-stroke {
  text-transform: uppercase;
  user-select: none;
  font-weight: 800;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #c4c4c499;
}

html {
  overflow: initial !important;
}

/*plugns*/
.el-input__wrapper {
  @import "!my-2 ms:!my-3";
}
.el-input__inner {
  height: 44px !important;
}

/*vue audio*/
.vue-audio {
  @apply !shadow-none !p-0 bg-white !border-none flex flex-col items-center justify-center;
}

.vue-audio:nth-child(2) {
  @apply shrink-0;
}

.vue-audio .text-red-400 {
  @apply hidden;
}
.vue-audio figure {
  @apply hidden;
}
.vue-audio h2 {
  display: none;
}
.vue-audio svg {
  @apply fill-blue-500;
}
.vue-audio div {
  @apply text-gray-700;
}
.vue-audio button {
  @apply w-0 h-0 opacity-0 overflow-hidden p-0;
}
